header {
  height: 100vh;
  width: 100%;
  color: #ffffff;
  font-family: 'Merienda', cursive, 'roboto', 'sans';
  font-weight: bold;
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

header .preloader {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .7) url(../images/loading.svg) no-repeat 50% 50%;
  z-index: 100;
}

header .cover {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  position: absolute;
  left: 0;
  top: 0;
}

header .side-bar {
  display: none;
  z-index: 1100;
}

header .side-bar-icon {
  font-size: 30px;
  color: white;
  margin-right: 10px;
}

/* nav bar  */
header > .nav-bar {
  height: 80px;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Oxygen', 'sans';
}

header > .nav-bar ul {
  z-index: 100;
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 100px;
}

header > .nav-bar ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  width: 130px;
  cursor: pointer;
}

header > .nav-bar ul li:after {
  content: '';
  background: transparent;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 8px;
  -webkit-transition: width 0.3s ease, background-color 0.3s ease;
  transition: width 0.3s ease, background-color 0.3s ease;
}

header > .nav-bar ul li:hover:after {
  width: 130px;
  background-color: white;
}


header > .nav-bar ul a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* middle bar  */
header .wrapper {
  text-align: center;
  z-index: 10;
  height: calc(100vh - 160px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper p {
  z-index: 10;
}


header .wrapper p > span {
  margin: 0;
  opacity: 0;
  display: inline-block;
  -webkit-transition: opacity 2.8s;
  transition: opacity 2.8s;
  font-size: 2rem;
}

header .wrapper p > span.name {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

header .wrapper p > span.profession {
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
}

header .wrapper.move p > span {
  opacity: 1;
}

header .wrapper > ul {
  font-size: 2.4rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

header .wrapper > ul li {
  display: inline-block;
  opacity: 0;
  -webkit-transition: all 1s cubic-bezier(0.03, 0.56, 0.51, 1.15);
  transition: all 1s cubic-bezier(0.03, 0.56, 0.51, 1.15);
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

header .wrapper > ul li:nth-child(1) {
  -webkit-transform: translate(-40px, 90px);
          transform: translate(-40px, 90px);
}
header .wrapper > ul li:nth-child(2) {
  -webkit-transform: translate(40px, -90px);
          transform: translate(40px, -90px);
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}
header .wrapper > ul li:nth-child(3) {
  -webkit-transform: translate(100px, -65px);
          transform: translate(100px, -65px);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}
header .wrapper > ul li:nth-child(4) {
  -webkit-transform: translate(-80px, 60px);
          transform: translate(-80px, 60px);
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
header .wrapper > ul li:nth-child(5) {
  -webkit-transform: translate(35px, 60px);
          transform: translate(35px, 60px);
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
header .wrapper > ul li:nth-child(6) {
  -webkit-transform: translate(40px, 100px);
          transform: translate(40px, 100px);
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
header .wrapper > ul li:nth-child(7) {
  -webkit-transform: translate(70px, -90px);
          transform: translate(70px, -90px);
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

header .wrapper > ul.move li {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  header > .nav-bar ul {
    margin-right: 20px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 482px) {
  header {
    overflow: hidden;
  }

  header > .nav-bar > ul.nav-list {
    position: absolute;
    top: 0;
    width: 0;
    display: block;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    padding-top: 20px;
    box-sizing: border-box;
    font-size: 20px; 

    transition: all 0.3s linear;
  }  
  
  header > .nav-bar > ul.nav-list li {
    margin: 10px auto 0;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
  }

  header > .nav-bar > ul.nav-list li:last-child {
    border: none;
  }
  header > .nav-bar ul li:hover:after {
    width: 0;
  }

  header > .nav-bar.open > ul.nav-list {
    width: 150px;
  }
  
  header .side-bar {
    display: block;
    transition: all 0.3s linear;
  }
  
  header nav.open .side-bar{
    transform: translateX(-150px);
  }

  header .wrapper > ul {
    font-size: 1.65rem;
  }

  header .wrapper p > span {
    font-size: 1.25rem;
  }

  header .wrapper p {
    text-align: center;
  }
}
