section.work {
  min-height: 100vh;
  width: 100%;
  font-family: 'Oxygen', 'sans';
  padding: 30px 0;
  overflow: hidden;
}

section.work > h1 {
  margin: 0 auto;
  padding: 28px 0;
  text-align: center;
  font-size: 2.7rem;
  font-weight: bold;
  color: #262c35;
} 

section.work > .container {
  max-width: 992px;
  margin: 20px auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

section.work > .container .work-item {
  height: 330px;
  width: 440px;
  background: #e3e3e3;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;

  transition: transform 1.0s cubic-bezier(0.13, 0.47, 0.35, 0.84);  

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

section.work > .container.animate-items .work-item {
  transform: translateX(0);
}

section.work > .container.animate-items .work-item:last-child {
  transition-delay: 0.3s;
}

section.work > .container.animate-items .work-item:nth-child(3) {
  transition-delay: 0.3s;
}

section.work > .container .work-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section.work > .container .work-item-cover {
  height: calc(100% - 70px);
  width: 100%;
  background-color: hsla(220,17%,20%,0.75);
  position: absolute;
  left: 0;
  top:0;
  display: none;
}

section.work > .container .work-item-left {
  transform: translateX(-40%);
}

section.work > .container .work-item-right {
  transform: translateX(40%);
}

section.work > .container .btn {
  display: inline-block;
  border-radius: 15px;
  text-decoration: none;
  background-color: #F27F7A;
  font-size: 18px;
  color: white;
  padding: 15px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
}

section.work > .container .work-item .desc {
  height: 70px;
  width: 100%;
  background-color: #262c35;
  color: white;
  padding: 0 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section.work .work-item .desc span {
  color: #e1e1e1;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bold;
}

section.work .work-item .desc li { 
  box-sizing: border-box;
  border: 5px solid #e1e1e1;
  border-radius: 50%;
  padding: 5px;
  display: inline-block;
}

section.work .work-item .desc li.active {
  border-color: #F27F7A;
  
} 

section.work .work-item .desc li:hover {
  cursor: pointer;
} 

section.work .work-item ul.slider {
  height: calc(100% - 70px);
  width: calc(440px * 3);
  overflow: hidden;
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
  transition: transform 0.3s linear; 
}

section.work .work-item ul.slider li {
  width: 440px;
  height: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: 50% 50%;
}

section.work .work-item ul.adhero-slider li:first-child {
  background-image: url(../images/adhero-1.png);
}

section.work .work-item ul.adhero-slider li:nth-child(2) {
  background-image: url(../images/adhero-2.png);
}
section.work .work-item ul.adhero-slider li:last-child {
  background-image: url(../images/adhero-3.png);
}

section.work .work-item ul.prezhero-slider li:first-child {
  background-image: url(../images/prezhero-1.png);
}

section.work .work-item ul.prezhero-slider li:nth-child(2) {
  background-image: url(../images/prezhero-2.png);
}

section.work .work-item ul.prezhero-slider li:last-child {
  background-image: url(../images/prezhero-3.png);
}

section.work .work-item ul.channelhero-slider li:first-child {
  background-image: url(../images/channelhero-1.png);
}

section.work .work-item ul.channelhero-slider li:last-child {
  background-image: url(../images/channelhero-2.png);
}

section.work .work-item ul.sadili-slider li:first-child {
  background-image: url(../images/sadili-1.png);
}

section.work .work-item ul.sadili-slider li:nth-child(2) {
  background-image: url(../images/sadili-2.png);
}

section.work .work-item ul.sadili-slider li:last-child {
  background-image: url(../images/sadili-3.png);
}